/* fund.css */

/* fundmain.jsp */
.row.fundList {
	width: 900px;
	margin: 0 auto;
	justify-content: space-around;
}

.col-12.col-md-3.mb-4.fundItem {
	width: 400px;
	height: 350px;
}

.row.fundList.otmain {
	width: 1200px;
}

.row.fundList.otmain .fundItem {
	width: 300px;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 {
	width: 100%;
	height: 100%;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80:hover {
	cursor: pointer;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80:hover div.fundName, .col-12.col-md-3.mb-4.fundItem .card.h-80:hover div.fundMember
	{
	text-decoration: underline;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 .card-image {
	width: 100%;
	height: 230px;
	display: flex;
	background-color: #EFEFEF;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 .card-image img {
	width: 100%;
	height: 230px;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 .card-body {
	width: 100%;
	height: 120px;
	text-align: center;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 .card-info {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.col-12.col-md-3.mb-4.fundItem .card.h-80 .card-info div {
	font-size: 15px !important;
}

body .container.py-5 .row.fundList .card.h-80 .card-body div.fundName {
	margin-top: 5px;
	font-size: 17px !important;
	font-weight: bold !important;
}

body .container.py-5 .row.fundList .card.h-80 .card-body div.fundMember
	{
	font-size: 13px !important;
}

.card-body div span {
	font-size: 12px;
}

#categoryListArea {
	width: 100%;
	margin-top: 30px;
}

#categoryList {
	width: 902px;
	height: 30px;
	margin: 0 auto;
	border-bottom: 2px solid #59AB6E;
	overflow: hidden;
}

.category {
	display: inline-block;
	width: 110px;
	height: 26px;
	text-align: center;
	font-size: 14px !important;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 3px;
	margin: 0 5px;
}

#categoryList #categoryPack {
	width: 902px;
	margin-left: -1px;
	text-align: center;
}

#categoryList .next, #categoryList .prev {
	font-weight: bold;
	display: inline-block;
}

#categoryList .next:hover, #categoryList .prev:hover {
	cursor: pointer;
	color: #59AB6E;
}

.category:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* funding.jsp */
#projectMain {
	width: 1200px;
	margin: 100px auto;
}

#projectInfo {
	width: 100%;
}

#projectInfoTable {
	width: 100%;
}

#projectInfoTable .btn.btn-primary {
	width: 150px;
	background-color: #59AB6E;
	border-color: #59AB6E;
}

#projectInfoTable .btn.btn-primary:hover {
	background-color: #4B8A5B;
	border-color: #4B8A5B;
}

#projectInfoTable tr td {
	vertical-align: middle;
	border: 0px;
}

#projectInfoTable tr:nth-child(1), #projectInfoTable tr:nth-child(2),
	#projectInfoTable tr:nth-child(3) {
	text-align: center;
}

#projectInfoTable tr:nth-child(2) {
	font-size: 15px;
	font-weight: bold;
	color: #59AB6E;
}

#projectInfoTable tr:nth-child(3) {
	font-size: 25px;
	font-weight: bold;
}

#projectInfoTable tr:nth-child(4) td:nth-child(1) {
	width: 800px;
	height: 400px;
	text-align: center;
}

#projectInfoTable tr:nth-child(8) {
	width: 100px;
	text-align: center;
}

#projectInfoTable td:nth-child(2) {
	width: 200px;
	height: 80px;
}

#projectInfoTable td:nth-child(3) {
	width: 100px;
	height: 80px;
}

#projectInfoTable td img {
	height: 100%;
	width: auto;
	object-fit: cover;
}

#projectInfoTable .infoBold {
	font-weight: bold;
	font-size: 25px;
}

#projectInfoTable .btn-default {
	border: 1px solid #ddd;
}

#projectContent {
	width: 100%;
	display: flex;
}

#projectContent #projectContentLeft {
	width: 800px;
	padding: 10px;
	margin: 15px;
}

#projectContent #projectContentLeft #projectDetail {
	margin-bottom: 20px;
	font-size: 22px !important;
	text-align: justify;
	color: #999;
}

#projectContent #projectContentLeft #projectImage {
	width: 100%;
}

#projectContent #projectContentLeft #projectImage img {
	width: 100%;
}

#projectContent #projectContentRight {
	width: 400px;
}

#genderChart {
	padding: 10px;
	margin-left: 14px;
}

.projectPack {
	border: 1px solid #CCC;
	border-right: 2px solid #59AB6E;
	border-bottom: 2px solid #59AB6E;
	padding: 10px;
	padding-right: 9px;
	margin: 15px;
}

.projectPack:hover {
	opacity: 0.5;
	background-color: #eee;
	cursor: pointer;
}

.projectPack .projectPackName {
	font-weight: bold !important;
	font-size: 20px !important;
	margin-bottom: 20px;
}

.projectPack .projectPackPrice {
	font-weight: bold !important;
	font-size: 15px !important;
	margin-bottom: 10px;
}

.projectPack .projectPackContent {
	font-size: 14px !important;
	text-align: justify;
}

.chart {
	width: 360px;
	height: 250px;
}

.categoryBtn {
	border: 1px solid #ddd;
	font-size: 14px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

#projectLike {
	cursor: pointer;
}

#main #contentinfo:checked {
	display: none;
}

#main #content:checked ~ #noticeinfo, #main #content:checked ~ #qainfo {
	display: none;
}

#main #notice:checked ~ #contentinfo, #main #notice:checked ~ #qainfo {
	display: none;
}

#main #qa:checked ~ #noticeinfo, #main #qa:checked ~ #contentinfo {
	display: none;
}

#main label {
	border: 1px solid #ddd;
	border-radius: 5px;
	float: left;
	width: 150px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	margin-bottom: 20px;
	margin-right: 10px;
	font-size: 14px !important;
	font-weight: bold !important;
	font-size: 14px !important;
	float: left;
}

input[type=radio] {
	display: none;
}

input[type=radio]:checked+label {
	background-color: #59AB6E;
	color: #fff;
}

.sub {
	position: relative;
	padding: 17px;
	cursor: pointer;
	font-size: 14px;
	border-bottom: 1px solid #dddddd;
}

.sub.on>span {
	font-weight: bold;
	color: #006633;
}

.con {
	display: none;
	overflow: hidden;
	font-size: 14px;
	background-color: #f4f4f2;
	padding: 27px;
}

#main #qainfo #qatext {
	resize: none;
	width: 760px;
	height: 500px;
	border: 1px solid #ddd;
	padding: 10px;
}

#warnModal .modal-dialog {
	width: 400px;
}

.form-group label {
	font-size: 14px !important;
	font-weight: bold !important;
	margin-left: 5px;
}

#warnModal #warnContent {
	resize: none;
	height: 150px;
}

/* fundpayment.jsp */
#fundPayment {
	width: 1000px;
	margin: 100px auto;
}

#fundPayment #payProject {
	width: 1000px;
	height: 210px;
	margin-bottom: 30px;
}

#fundPayment .payProjectTable tr td {
	border: 0px;
}

#fundPayment .payProjectTable tr:nth-child(1) td:nth-child(1) {
	position: relative;
	width: 300px;
	height: 210px;
	overflow: hidden;
}

#fundPayment .payProjectTable tr:nth-child(1) td:nth-child(1) img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#fundPayment .payProjectTable tr td:nth-child(2),
#fundPayment .payProjectTable tr:nth-child(2) td,
#fundPayment .payProjectTable tr:nth-child(3) td {
	width: 700px;
	height: 70px;
	padding-left: 20px;
}

#fundPayment .payProjectTable tr:nth-child(1),
#fundPayment .payProjectTable tr:nth-child(3) {
	font-size: 14px !important;
}

#fundPayment .payProjectTable tr:nth-child(1) td:nth-child(2) {
	vertical-align: bottom;
}

#fundPayment .payProjectTable tr:nth-child(3) td span {
	display: inline-block;
	margin-right: 10px;
}

#fundPayment .payProjectTable tr:nth-child(3) td span:nth-child(1) {
	font-weight: bold;
}

#fundPayment .payProjectTable tr:nth-child(3) td span:nth-child(2) {
	color: #59AB6E;
}

#fundPayment .payProjectTable #projectTitle {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

#fundPayment #payContentSection {
	display: flex;
	border-top: 1px solid #ddd;
}

#fundPayment #payContent {
	width: 600px;
	padding-top: 30px;
}

#fundPayment #payContent .payContentInfo {
	font-size: 14px !important;
	padding-right: 10px;
}

#fundPayment .payContentInfo h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#fundPayment #payContent .payContentInfo table {
	border: 1px solid #ddd;
}

#fundPayment #payContent .payContentInfo table tr td:nth-child(1) {
	font-weight: bold;
	width: 100px;
}

#fundPayment #payContent .payContentInfo table tr td {
	border: 0px;
	padding: 12px;
}

#fundPayment #payPriceInfo {
	width: 400px;
	padding-left: 10px;
	margin-top: 59px;
}

#fundPayment #payPriceInfo #payPrice .payPrice {
	border: 1px solid #ddd;
	font-size: 14px !important;
	font-weight: bold;
}

#fundPayment #payPriceInfo #payPrice .payPrice tr td {
	border: 0px;
	padding: 12px;
}

#fundPayment #payPriceInfo #payPrice .payPrice tr td:nth-child(2) {
	text-align: right;
}

#fundPayment #payPriceInfo #payPrice .payPrice tr:nth-child(3) td:nth-child(1) {
	color: #59AB6E;
}

#fundPayment #payPriceInfo .paybtn {
	width: 100%;
	background-color: #59AB6E;
	color: #fff;
	font-align: bold;
	padding-top: 13px;
	padding-bottom: 13px;
}